@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/type' as *;


.overflow-menu-item {
  text-decoration: none;
  font-size: medium;
}
.banner {
  background-color: #eef1f6;
  position: relative;
}

.header {
  padding-top: $spacing-06;
  padding-right: $spacing-06;
  padding-bottom: $spacing-06;
}

.header-body {
  padding-bottom: $spacing-06;
  @include breakpoint(md) {
    padding-top: 10vw;
  }
  @include breakpoint(sm) {
    padding-top: $spacing-06;
  }
}

.home-image {
  margin-left: -1rem;
  height: 100%;
  @include breakpoint(md) {
    width: 50vw;
  }
  @include breakpoint(sm) {
    width: 100vw;
  }
  object-fit: cover;
}

.info {
  background-color: $layer-01;
  position: relative;
  padding-top: $spacing-06;
  padding-bottom: $spacing-06;
}

.info-title {
  padding-bottom: $spacing-06;
}

.info-columnn {
  border-left: 1px solid $border-subtle-01;
  padding-left: $spacing-06;
  padding-bottom: $spacing-06;
}

.info-body {
  padding-top: $spacing-06;
  padding-bottom: $spacing-06;
}