.dashboard-container {
    display: grid;
    grid-template-columns: 2fr 2fr 0fr 0fr 0fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 80px;
    width: 100%;
    padding-top: 50px;
  
    /* Estilos visuales */
    border: 1px solid #ccc;
    background-color: #f5f5f5;
  }
  
  
  
  .chart-container {
    width: 100%;
    height: 100%;
  
    /* Estilos visuales */
    border: 1px solid #999;
    background-color: #fff;
  }
  
  .canvas-container {
    width: 100%;
    height: 100%;
  
    /* Estilos visuales */
    background-color: #eee;
  }
  
  
  .title-container {
    display: flex;
    justify-content: left;
    margin-top: 5rem;
    padding-left: 50px;
  }
  
  .subtitle-container {
    display: flex;
    justify-content: right;
    margin-top: -1rem;
    padding-right: 180px;
  
  }
  