.barraLateral {
  flex: 1;
  background-color: #161616;
}
.searchRow{
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.align-right {
  margin-left: auto;
}
.left {
  flex: 2;
  background-color: #fff;
}
.container {
  display: flex;
  height: 100vh;
  width: 195.5vh;
}
body {
  overflow-x: hidden;
}
.searchBarDiv{
  height:200px;
  width: 400px;
}
.searchButtonDiv{
  height: 200px;
  padding-left: 10px;
}
.divisionFormat{
  padding-left: 34px;
  padding-top: 45px;
  color:white;
  font-family: 'IBM Plex Sans', sans-serif;
  width: 400px;
}
.dropDown{
  padding-top: 15px;
}
