.barraLateral {
  flex: 2;
  background-color: #161616;
}
.searchRow{
  padding-top: 15px;
  display: flex;
  flex-direction: row;
}
.align-right {
  margin-left: auto;
}
.left {
  flex: 4;
  background-color: white;
}
.container {
  display: flex;
  height:100vh;
  width:100vw;
}
body {
  overflow-x: hidden;
}
.searchBarDiv{
  height:200px;
  width: 250px;
  padding-left: 20px;
}
.searchButtonDiv{
  height: 200px;
  padding-left: 20px;
}
.divisionFormat{
  padding-left: 20px;
  padding-top: 45px;
  color:white;
  font-family: 'IBM Plex Sans', sans-serif;
  width: 400px;
}
.dropDown{
  padding-top: 15px;
  width: 300px;
}
